/* You can add global styles to this file, and also import other style files */

:root {
    --default-cell-color: rgb(19, 78, 151);
    --active-cell-color: rgb(203, 141, 26);
    --user-cell-color: rgb(23, 95, 26);
    --computer-cell-color: rgb(188, 42, 13);
}